:root{
    --mainBlue: #84bae0;
    --transparentBlue: rgba(64,172,241,0.7);
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--mainBlack);
    background: var(--mainWhite);

}

/*section title*/
.section-title--special{
    background: var(--transparentBlue);
    color: var(--mainWhite);
    padding: 0.5rem 2rem;
    clip-path: polygon(10% 0, 100%0, 90% 100%, 0 100%);
}

.item {
    display: none;
    position: relative;
    transition: (.2s ease-in-out left);
}

.navbar-brand img{
    height: 30px;
 
}

.nav-link, .navbar-brand {
    color: var(--mainWhite) !important;
    text-transform: uppercase;
}

.nav-link:hover{
	color: var(--mainBlue)!important;
}



/*image sizing*/
img{
    height: 93vh;
    background:fixed no-repeat;
    opacity: 0.8;
}

#btn-custom{
  color: var(--mainBlue)!important;
}


.title-heading{
    background: rgba(0,0,0,0.4);
    border-left: 0.3rem solid var(--mainBlue);
}

.title{
    font-weight: 700;
}


/*skills*/

.skills-icon{
    font-size: 3rem;
    color: var(--mainYellow);
    
}

.skills-icon:hover{
    color: var(--mainYellow);
}

.skills_underline{
    width: 4rem;
    height: 0.3rem;
    background: var(--mainBlue);
    margin: 1rem auto;
}

/**question section*/
.question{
    background: url("https://images.unsplash.com/photo-1476419972179-ac981d01257e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")center/cover fixed no-repeat;

}

.question-grey{
    background: rgba(79,109,122,0.75);
}

.question-yellow{
    background: rgba(227,181,5,0.75);
}

.question-icon{
    font-size: 4rem;
    color: var(--mainBlue);
    transition: all 0.5s ease-in-out;
}

.question-icon:hover{
    transform: translateY(-10%);
    color: var(--mainBlue);
}

.question-info{
    color: var(--mainWhite);
}


/*#howitworks {*/
/*    border: 1px dotted yellow;*/
/*    background: rgba(227, 181, 5, 0.75);*/
/*    height: 150px;*/
/*    margin-left: 1.66%;*/
/*    margin-right: 2%;*/
/*    justify-content: center;*/
/*    display: inline-block;*/
/*    width: 30%;*/
/*    padding-left: 20px;*/
/*    padding-top: 18px;*/
/*    padding-bottom: 20px;*/


/*}*/

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}


/*######################## LOGIN/SIGNUP PAGE START ##################################*/
.at-login-form .btn-fb
{
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #4568B2;
    width: 100%;
    margin-top: 10px;
    color:#fff;
}

.at-login-form .btn-gp
{
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0px;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    color:#000;
}

.at-login-form .btn-lgin
{
    display: inline-block;
    padding: 18px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0px;
    background-color: #1DB9EC;
    width: 100%;
    margin-top: 10px;
    color:#fff;
}
.at-login-form .signup-or-separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
}
.at-login-form .signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
}

.at-login-form .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

.at-login-form .signup-or-separator hr {
    margin: -25px auto 10px;
    width: 100%;
}

.at-login-form .form-control-form {
    display: block;
    width: 100%;
    height: 54px;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 3px;
}
.at-login-form .frgt-pswd
{
    margin: 5px 0 10px;
    color: red;
}

.at-login-form .btn-gst
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #000;
    border-radius: 0px;
    background-color: transparent;
}

#footerMessage
{
    padding-left: 5px;
    margin-top: 5px;
}

.at-login-form .modal-dialog {
    width: 500px;
    margin: 30px auto;
}

.at-login-form .modal-content
{
    padding: 0px 10px;
}

.at-login-form  .modal-header {
    padding: 10px 10px;
    border-bottom: 0px solid #e5e5e5;
}
.blue-bg-nav {
    background-color: #1DB9EC;
}

.signup{
    text-align: center;
    border: 1px solid #1DB9EC;

    text-transform: uppercase;
    font-weight: 700;
    background: #1DB9EC;
}

.page-footer{
    background: #222222 none repeat scroll 0 0;
}

footer div{
    color: white;
}

#stripeID{
    font-size: 4rem;
    color: var(--mainBlue);
    transition: all 0.5s ease-in-out;
}

#stripeID:hover{
    transform: translateY(-10%);
    color: var(--mainBlue);
}

footer div a{
    color:white;
}

.footer-bottom{
    background: #191919 none repeat scroll 0 0;
    text-align: center;


}

footer h6{
    color: var(--mainBlue);

}


#button {
    display: inline-block;
    background-color: var(--mainBlue);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: var(--mainBlue);
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	overflow: hidden;
}
.clear{
	zoom: 1;
}
ol, ul {
	list-style: none;
}


/*  */
.main{width: 1200px;margin: 0 auto;margin-top: 76px;margin-bottom: 50px;}
.main li{margin-top: 50px;border-bottom: 1px dashed #CCCCCC;padding-bottom: 30px;}
.cen{text-align: center;}
.cen h4{font-size: 40px;}
.cen p{font-size: 20px;} 
/*  */
.list_le{float: left;width: 600px;text-align: right;padding-top: 40px;}
.list_le h4{font-size: 40px;}
.list_le p{font-size: 20px;line-height: 40px;}
.le img{float: right;width: 450px;height: 320px;}
/*  */
.rig img{float: left;width: 450px;height: 320px;}
.list_rig{float: right;width: 600px;text-align: left;padding-top: 40px;}
.list_rig h4{font-size: 40px;}
.list_rig p{font-size: 20px;line-height: 40px;}
.bt{font-family: myfont;text-align: center;font-size: 80px;letter-spacing: 5px;background: url(Images/timg.jpg) no-repeat;height: 300px;width: 100%;background-size: 100%;margin-top: 52px;line-height: 300px;color: #fff;}
.bt:hover{font-size: 90px;transition:all 1s ease 0s;}


/*added login and register css*/
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  font-weight: 700;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
























